PORT=3000
DATABASE_URL="postgresql://postgres:super_secret@postgres/app_db?schema=public"
NODE_ENV=development
JWT_ACCESS_SECRET=vbEbMGMbj2sgHNQ5krghkvolE5I8DzxVJZrTQ6BfH4o
JWT_REFRESH_SECRET=rLQNAfPhaSUAfrnxGyQMKWAkcYSolNqijFArz2EkrD0
ALLOWED_ORIGINS=http://localhost:5173,http://frontend:4000
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800

EMAIL_FROM_NAME=MyTodoList
EMAIL_FROM_EMAIL=
# Gmail
MAILER_GMAIL_USER=
MAILER_APP_PASSWORD=
MAILER_EMAIL_PROVIDER=gmail
# Postmark
POSTMARK_SERVER_TOKEN=
# Resend
RESEND_API_KEY=
# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
# SendGrid
SENDGRID_API_KEY=

REDIS_PASSWORD=
# REDIS_URL=redis://default:<pass>@<host>:<port>

# Bull Board 
BULL_BOARD_ENABLED=true
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=password
BULL_BOARD_PATH=/admin/queues